:root {
  --kolor-domyslny: #212121;
  --kolor-logo: #2196f3;
  --kolor-kontakt: #757575;
  --kolor-przycisk-nieaktywny: #f5f4fa;
  --kolor-stopka: #2f303a;
  --kolor-margines-poziomy: #ececec;
  --kolor-tlo: #e5e5e5;
  --kolor-ramki-zdjec: #eeeeee;
  --kolor-ikon: #afb1b8;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}

table {
  border-collapse: collapse;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
}

a,
button,
.kolo-biale,
.kolo,
.box2,
.wiersz-obrazow > div {
  cursor: pointer;
}

footer {
  background-color: var(--kolor-stopka);
  color: white;
  padding: 60px 0px;
}

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.strona {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.odstep {
  width: 1600;
  border-bottom: 1px solid var(--kolor-margines-poziomy);
}

.odstep-sekcji {
  padding: 94px 0px;
}

.odstep-sekcji-dolny {
  padding-bottom: 94px;
}

.sekcja-naglowek {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.naglowek {
  display: flex;
  background-color: white;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.stopka {
  display: flex;
  padding: 0px 15px;
  gap: 70px;
}

.stopka-2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 20px;
}

.ogloszenie {
  text-align: center;
  background-color: var(--kolor-stopka);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/tlo.png");
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/tlo.png");
}

.logo {
  display: flex;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--kolor-logo);
}

.logo-margines-lewy {
  margin-left: 15px;
}

.logo .logo-stopka-gora {
  color: var(--kolor-domyslny);
}

.logo > .logo-stopka-dol {
  color: white;
}

.nawigator {
  display: flex;
}

.link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--kolor-domyslny);
  position: relative;
}

.link-aktywny {
  color: var(--kolor-logo);
}

/* .link:hover::after, */
.link-aktywny::after {
  display: block;
  content: "";
  background: var(--kolor-logo);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 45px;
}

.box {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box.relative {
  position: relative;
  top: 20px;
  left: 20px;
  background-color: orange;
}

.link:hover,
.link:focus {
  color: var(--kolor-logo);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakt {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--kolor-kontakt);
}

.kontakt-adres {
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.kontakt-adres:hover,
.kontakt-adres:focus {
  text-decoration-color: var(--kolor-logo);
}

.kontakt-stopka {
  letter-spacing: 0.03em;
  font-weight: 400;
}

.kontakt-icon {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
  fill: var(--kolor-kontakt);
}

.kontakt-icon:hover,
.kontakt-icon:focus {
  fill: var(--kolor-logo);
  color: var(--kolor-logo);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wiersz-przyciskow {
  padding-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.przycisk {
  text-decoration: none;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--kolor-przycisk-nieaktywny);
  color: var(--kolor-domyslny);
  padding: 6px 22px;
  border-radius: 4px;
}

.przycisk-usluga {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--kolor-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.przycisk:hover,
.przycisk:focus {
  color: white;
  background-color: var(--kolor-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.zapisz-sie {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.przycisk-zapisz-sie {
  font-family: "Roboto";
  font-style: bold;
  /* font-weight: 700; */
  font-size: 16px;
  line-height: 30px;
  /* align: center;
  vertical-align: center; */
  /* display: flex; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 76px;
  /* margin-top: 30px; */
  /* margin-left: auto;
  margin-right: auto; */
  letter-spacing: 6%;
  color: #ffffff;
  fill: white;
  background-color: var(--kolor-logo);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
}

.icon-zapisz-sie {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 24px;
  fill: #ffffff;
}

.kolumna-obrazow {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wiersz-obrazow {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.relative {
  position: relative;
  top: -70px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
}

.wiersz-obrazow > div:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wiersz-obrazow div div {
  border: 1px solid var(--kolor-ramki-zdjec);
}

.wiersz-zespolu {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.wiersz-zespolu > div {
  border-radius: 0px 0px 4px 4px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.obraz {
  width: 370px;
  height: 294px;
  margin: 0 auto;
  background-color: #bdbdbd;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  background-color: var(--kolor-logo);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wiersz-obrazow > div:hover .overlay,
.wiersz-obrazow > div:focus .overlay {
  transform: translatex(0%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  color: #fff;
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.obraz-tytul {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.obraz-opis {
  padding-left: 24px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.obraz-zespol-imie {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.obraz-zespol-tytul {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.icon {
  fill: #2a2a2a;
}

.tabela-ipsum {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.ipsum-naglowek {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--kolor-domyslny);
  margin-bottom: 10px;
}

.ipsum-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--kolor-kontakt);
}

.tabela-klientow {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.box {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.box2 {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--kolor-ikon);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  fill: var(--kolor-ikon);
}

.box2:hover,
.box2:focus {
  border-color: var(--kolor-logo);
  fill: var(--kolor-logo);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.kolo {
  display: flex;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
}

.kolo:hover,
.kolo:focus {
  background-color: var(--kolor-logo);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
  color: var(--kolor-ikon);
}

.icon-social-media-stopka {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  fill: white;
}

.kolo-biale {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--kolor-ikon);
}

.kolo-biale:hover,
.kolo-biale:focus {
  background-color: var(--kolor-logo);
  fill: white;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-right: 12px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
